[user]
	name = kaiba
	email = kaibadash@gmail.com
[core]
  excludesfile = ~/dotfiles/.gitignore_global
  pager = LESSCHARSET=utf-8 less
[push]
  default = current
  autoSetupRemote = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	ff = false
[pull]
	ff = false
[credential]
	helper = osxkeychain
